<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,
            initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
            user-scalable=no">
    <title>关于再书</title>

    <link rel="stylesheet" type="text/css" href="./styles/app.css">
</head>
<body>
    <div class="about-content">

        <p>
            <h3>再书为您提供：</h3>
            <ul>
                <li> * 更好的发布你的闲置书籍 </li>
                <li> * 更快的搜索你想要的书籍 </li>
                <li> * 只做书籍，让你我沉浸书的海洋 </li>
            </ul>
        </p>

    </div>
</body>
</html>