<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,
            initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
            user-scalable=no">
    <title>再书用户协议</title>
    <link rel="stylesheet" type="text/css" href="./styles/app.css">
</head>

<body>
    <h1 class="app-h1">《再书用户协议》</h1>
    <div class="protocol-content">
    <p>欢迎使用 Twicebook!</p>
    <p>您的访问和使用 Twicebook 手机应用和网站（下称为“Twicebook”）会受到本隐私政策约束。 请确保阅读和理解细节。如果你不接受条款和条件，您可关闭及放弃使用 Twicebook。 若用户要继续使用 Twicebook ，所有用户必须遵守以下条款，同意及接受所有有关条款的约束。</p>
    <p>私隐政策如下:</p>
    <ol>
        <li> 我们会收集可用于识别特定用户的个人信息。当用户订阅 Twicebook 的服务，如创建一个新帐户，填写了调查，并发送反馈，要求我们的服务信息， 我们可能会要求用户以应付相关个人信息，例如，姓和名，电子邮件地址，邮寄地址。</li>
        <li> 我们使用收集的个人信息向我们的用户提供服务，并作分析，以提高我们的运营绩效。</li>
        <li> 当受到法院或法庭命令，或由政府执法机关或行政机关的要求下，或在其他有需要及必要情况下， 我们有权披露阁下在 Twicebook 内留下的任何资料去保障其他人的权利及财产。 这亦适用于当我们有理由相信阁下有有意或无意间干预或侵犯了 Twicebook 或其他相关人士的权利及财产低下，我们有权披露阁下个人资料给相关机关并作出起诉。</li>
        <li>你能够访问和编辑您向我们提供您的个人信息。您可以通过访问您的用户帐户和编辑个人资料来更改您的任何个人信息。</li>
        <li>Twicebook 的用户，我们会发送你关于管理和促销的电子邮件，并会向您发送有关您的帐户活动和宣传材料的信息。</li>
        <li>如果您不希望收到我们的邮件，请发送电子邮件至 oheroj@gmail.com 退订或联繫您相关的客户服务。我们会从我们的邮件列表中删除您的电子邮件地址。
        </li>
        <li>如果您链接到任何此类网站，我们建议您查看 Twicebook </li>的隐私政策。本隐私政策仅适用于通过本网站收集的信息。我们是不负责的政策或第三方网站或机构的做法。
        <li>Twicebook 将尽其合理努力，以确保其董事、僱员及承包商谨慎地处理及使用用户提交的个人数据， 以及由该人的个人资料的获取和处理是一个“需方知和“需要使用”的基础。 Twicebook 将尽其合理努力以保护个人数据不受个人数据的任何未经授权或意外，处理或删除。</li>
        <li>Twicebook 以内的材料，包括不限于任何想法，建议，意见，信息或其他通信用户发送或张贴到本网站出于任何目的。我们不会承担责任或赔偿任何个人或实体。</li>
        <li>我们可以随时更改本隐私政策，修订后的版本发布后，立即生效。 Twicebook 每个用户有责任定期审查隐私政策，以了解任何修订。如有任何疑问，请联络我们。</li>
    </ol>

    </div>
</body>

</html>