.app-h1 {
    font-size: 36px;
    text-align: center;
}

.app-index-div {
    text-align: center;
    font-size: 18px;
    margin-top: 120px;
}

.app-index-div a {
    margin-right: 20px;
    text-decoration: none;
    background-color: #eee;
    padding: 8px;
}

.about-content {
    padding: 30px;
    margin-top: 50px;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
}

.about-content ul {
    list-style-type: none;
}
